<div id="errorJs" class="modal fade" style="display: none;">
  	<div class="modal-dialog">
    	<div class="modal-content"></div>
  	</div>
</div>
<div id="loading" class="loading_site" style="display: none;"></div>
<div id="fb-root"></div>