<div class="feature-box">
      <div class="fbox-image">
      	<img src="{{ image_box | asset_url }}" alt="{{ title_box }}"/>
      </div>
      <div class="fbox-content">
        <div class="fbox-body"><h4>{{ title_box }}</h4></div>
        <p class="description">{{ content_box }}</p>
      </div>
    </div>