{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
  <div class="faqPage">
	<div class="container">
		<div class="row">
			<section id="center_column" class="col-sm-12 col-md-12">
              	<div class="page-wrap">
                    <div class="page-content">
                        <div class="rte">
                            {% include 'shortcode' load: page.content %}
                        </div>
                    </div>
              	</div>
			</section>
		</div>
	</div>
  </div>
</section>